<section class="Cadastro">
  <div class="Header">
    <!-- <span class="i-seta-esq"></span> -->
    <!-- <span> goback</span> -->
    <h1>Cadastro de Estado</h1>
  </div>
  <div class="Wrapper">
    <div class="text-header title">
      <span>Dados do Estado</span>
    </div>
    <app-form [parent]="this" [model]="EstateModel" [formGroup]="stateForm">
      <!-- <form (ngSubmit)="submit()"> -->
      <mat-grid-list cols="9" rowHeight="90px" gutterSize="10">
        <mat-grid-tile colspan="4">
          <app-textfield
            formControlName="name"
            appearance="outline"
            class="fullwidth"
            placeholder="Nome"
          />
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <app-textfield
            formControlName="size"
            appearance="outline"
            class="fullwidth"
            placeholder="size"
          />
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <app-textfield
            formControlName="oceanDistance"
            appearance="outline"
            class="fullwidth"
            placeholder="oceanDistance"
          />
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
          <app-textfield
            type="number"
            formControlName="plotsAvailable"
            appearance="outline"
            class="fullwidth"
            value="stateFields"
            placeholder="Plots"
          />
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
          <app-textfield
            formControlName="population"
            appearance="outline"
            class="fullwidth"
            value="stateFields"
            placeholder="population"
          />
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <app-textfield
            type="number"
            formControlName="counties"
            appearance="outline"
            class="fullwidth"
            value="stateFields"
            placeholder="counties"
          />
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
          <app-textfield
            formControlName="paymentTerm"
            appearance="outline"
            class="fullwidth"
            value="stateFields"
            placeholder="paymentTerm"
          />
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
          <app-textfield
            formControlName="averagePricePerSQM"
            appearance="outline"
            class="fullwidth"
            value="stateFields"
            placeholder="averagePricePerSQM"
          />
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
          <app-textfield
            formControlName="averagePartialPaymentPrice"
            appearance="outline"
            class="fullwidth"
            value="stateFields"
            placeholder="averagePartialPaymentPrice"
          />
        </mat-grid-tile>
        <mat-grid-tile colspan="4">
          <input
            #fileInput
            type="file"
            (change)="onFileSelected($event)"
            placeholder="input"
          />
        </mat-grid-tile>
        <mat-grid-tile colspan="9">
          <app-flat-button
            style="margin-left: auto; width: 140px"
            type="submit"
            text="SUBMIT"
          />
        </mat-grid-tile>
      </mat-grid-list>
    </app-form>
  </div>
</section>