@import "./variables"
    
*
    box-sizing: border-box
    margin: 0
    
span, li, h1, h2, h3, h4, h5
    font-family: Averta

.Background
    background-image: url("../images/back.webp")
    background-size: cover
    position: absolute
    top: 0
    bottom: 20%
    left: 0
    right: 0

img
    height: -webkit-fill-available
    width: -webkit-fill-available

// caroulsel 
.p-carousel-indicators
    display: none


